<div class="form-group" ng-class="{'has-error': hasError()}">
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
    <div>
        <signature-pad
                ng-model="$$value$$"
                dataurl="$$value$$"
                accept="accept"
                clear="clear"
                height="{{form.height || 140}}"
                width="{{form.width || 368}}"
                class="form-control"
                style="height:auto"
                schema-validate="form"></signature-pad>
    </div>
    <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
    <button type="button" class="btn" ng-click="clear()">{{form.resetButton || 'Reset signature'}}</button>
</div>
